.main {
  &-header {
    background-image: url(../../assets/images/header-bgc.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 840px;
    padding-top: 30px;
  }
  &-href {
    font-size: 14px;
    line-height: 16px;
    display: inline-block;
    transition: all 0.3s ease;
    border-radius: 3px;
    padding: 7px 20px;
    &:hover {
      background-color: $gray;
      color: $honey;
    }
  }
  &-logo_href {
    display: inline-block;
    position: relative;
    z-index: 1;
  }
  &-logo_vop {
    position: relative;
    z-index: -1;
  }
}
