@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700&family=Raleway:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap");
@import "./var";
@import "./reset";
@import "./header";
@import "./main";
@import "./section-first";
@import "./sectionsecond";
@import "./sectionthird";
@import "./sectionfour";
@import "./sectiofive";
@import "./footer";

html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
}
a {
  text-decoration: none;
  color: white;
}
li {
  list-style: none;
}
.page {
  min-height: calc(100% - 272px);
}
.section-1 {
  background-color: #242b33;
}
/* mixins */
@mixin container($width) {
  max-width: $width;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: content-box;
}
.container {
  @include container(1100px);
}

/*flex-containers*/
.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-nav {
  display: flex;
  flex-wrap: wrap;
}
.footer-flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
