footer.footer-main 
    .container.footer-flex  
        .footer-logo  
            .main-logo 
                a.main-logo_href(href="") 
                    object.main-logo_vop(data="./assets/icons/logo.svg", type="")
        .footer-list.footer-ul_1  
            ul.footer-ul
                li.footer-li
                    a.footer-href(href="") О комплексе
                li.footer-li
                    a.footer-href(href="") Район
                li.footer-li
                    a.footer-href(href="") Каталог квартир
                li.footer-li
                    a.footer-href(href="") Ипотека
                li.footer-li
                    a.footer-href(href="") Контакты
        .footer-list.footer-ul_2
            ul.footer-ul
                li.footer-li
                    a.footer-href(href="") О комплексе
                li.footer-li
                    a.footer-href(href="") Район
                li.footer-li
                    a.footer-href(href="") Каталог квартир
                li.footer-li
                    a.footer-href(href="") Ипотека
                li.footer-li
                    a.footer-href(href="") Контакты
        .footer-list.footer-ul_3 
            ul.footer-ul
                li.footer-li
                    a.footer-href(href="") Адрес: Наб. реки Фонтанки 10-15
                li.footer-li
                    a.footer-href(href="") Телефон: 8 (812) 123-45-67
                li.footer-li
                    a.footer-href(href="") Отдел продаж: 10:00 - 20:00
                li.footer-li
                    a.footer-href(href="") E-mail: <span class="footer-span">vip@housevip.ru</span>
                li.footer-li.footer-li_object
                    object.footer-object(data="./assets/icons/youtube-logo.svg", type="") 
                    object.footer-object(data="./assets/icons/vk-logo.svg", type="") 
                    object.footer-object(data="./assets/icons/facebook-logo.svg", type="") 
                    object.footer-object(data="./assets/icons/insta-logo.svg", type="")  