header.main-header 
    .container-header.flex-container
        .main-logo 
            a.main-logo_href(href="") 
                object.main-logo_vop(data="./assets/icons/logo.svg", type="") 
        nav.main-nav 
            ul.main-ul.flex-nav
                li 
                    a.main-href(href="") О комплексе 
                li
                    a.main-href(href="") Район
                li
                    a.main-href(href="") Каталог квартир
                li
                    a.main-href(href="") Ипотека
                li
                    a.main-href(href="") Контакты 
        .list-menu
                    h2.main-href.main-btn_menu Меню
                    ul.main-ul_list
                        li
                            a(href="") О комплексе
                        li
                            a(href="") Район
                        li
                            a(href="") Каталог квартир
                        li
                            a(href="") Ипотека
                        li
                            a(href="") Контакты