header.main-header 
    .container-header.hide-block.flex-container
        .main-logo 
            a.main-logo_href(href="") 
                object.main-logo_vop(data="./assets/icons/logo.svg", type="") 
        nav.main-nav 
            ul.main-ul.flex-nav
                li
                    a.main-href(href="") О комплексе
                li
                    a.main-href(href="") Район
                li
                    a.main-href(href="") Каталог квартир
                li
                    a.main-href(href="") Ипотека
                li
                    a.main-href(href="") Контакты 
    .container-bootstrap
        #navbarToggleExternalContent.collapse
            .bg-dark.p-4
                h5.text-white.h4 Collapsed content
                span.text-muted Toggleable via thenavbar brand.
        nav.navbar.navbar-dark.bg-dark
            .container-fluid
                button.navbar-toggler(type='button'data-bs-toggle='collapse'data-bs-target='#navbarToggleExternalConent'aria-controls='navbarToggleExternalContet' aria-expanded='false'aria-label='Toggle navigation')
                    span.navbar-toggler-icon
     
        