main.section-main 
    .container 
        .section-title 
            h2.section-h1 Жилой комплекс <br> в историческом центре
            object.section-mouse(data="../assets/icons/mouse.svg", type="")
        .section-subtitle 
            .section-contact
                object(data="../assets/icons/mark.svg", type="") 
                a.section-map(href="") 
                    p.section-adress Наб. реки Фонтанки 10-15
            .section-phone
                object(data="../assets/icons/phone.svg", type="") 
                p.section-number 8 (812) 123-45-67