main.section-main 
    .container 
        .section-title 
            h2.section-h1 Жилой комплекс <br> в историческом центре
            object.section-mouse(data="../assets/icons/mouse.svg", type="")