section.section5-main 
    .container 
        .section5-title 
            h2.section5-h2 Есть вопросы?
        .section5-reg 
            form(action="#") 
                .section2-registration.section5-baseline
                    p.section2-p2.s5-p *Мы никому не передаем ваши данные. И не сохраняем ваш номер в базу.
                    input.section2-input_1.input_1(type="text" placeholder="Ваше имя")
                    input.section2-input_2.input_2(type="number" placeholder="Ваш номер")
                    button.section2-btn.s5-btn Посмотреть район
                    
                    