section.section4-main 
    .container 
        .section4-title 
            h2.section4-h2 Район на карте
        .section4-location
            iframe.section4-map(src='https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d42334.07926094001!2d35.05194263325193!3d48.45883281222356!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sua!4v1637948159278!5m2!1sru!2sua' width='600' height='450' style='border:0;' allowfullscreen='' loading='lazy')
