section.section3-main 
    .container 
        .section3-video
            video(width='750' height='550' controls='')
                source(src='./assets/video/mov_bbb.mp4' type='video/mp4')
                source(src='./assets/video/mov_bbb.ogg' type='video/ogg')
            