section.section2-main 
    .container.s2-flex 
        .section2-info 
            h2.section2-h2 Хотите посмотреть?
            p.section2-p1 Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. 
        .section2-form 
            form(action="#") 
                .section2-registration
                    input.section2-input_1(type="text" placeholder="Ваше имя")
                    input.section2-input_2(type="number" placeholder="Ваш номер")
                    p.section2-p2 *Мы никому не передаем ваши данные. И не сохраняем ваш номер в базу.
                    button.section2-btn Посмотреть район