section.section1-wrap 
    .container.section1-flex 
        .section1-info 
            .section1-logo
                object(data="../assets/icons/park.svg", type="") 
            .section1-about 
                p.section1-txt Рядом исторические парки и скверы
        .section1-info 
            .section1-logo
                object(data="../assets/icons/building.svg", type="") 
            .section1-about 
                p.section1-txt Полностью обустроенный
        .section1-info 
            .section1-logo
                object(data="../assets/icons/fountain.svg", type="") 
            .section1-about 
                p.section1-txt 10 фонтанов на территории
        .section1-info 
            .section1-logo
                object(data="../assets/icons/bicycle.svg", type="") 
            .section1-about 
                p.section1-txt 6 км <br> велодорожек
    section.section1-home 
        .container 
            .section1-apartments_title 
                h2.section1-h2 Наши квартиры 
            .section1-apartments 
                .section1-img_1 
                .section1-img_2 
                .section1-img_3 
                .section1-img_4 

